body {
  background-color: rgb(27, 29, 32);
}

div {
    padding: 25px;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;
  }
  
  .introduction {
    background-color: #548CA8;
  }
  
  .main-content {
    background-color: #476072;
  }
  
  .contact-us {
    background-color: #334257;
  }

  .flex-container {
     display: flex; 
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: rgb(82, 99, 145);
    border: 6px solid rgb(44, 44, 61);
    height: 100px;
    flex: 20;
  }